main{
    font-family: 'Akrobat';
    color: #fff;
    margin: 0% 4% 0 5%;
}

main h1{
    font-size: 2.7em;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 2%;
    line-height: 70%;
}

main h2{
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 2%;
    line-height: 10%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact{
    display: flex;
    max-width: fit-content;
}

.contact img{
    margin-right: 2%;
    width: 150px;
}

.contact .info h1{
    white-space: nowrap;
}
