main{
    font-family: 'Akrobat';
    color: #fff;
    margin: 0% 4% 0 5%;
}

main h1{
    font-size: 1.75em;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}

main p{
    font-size: 0.8em;
    font-weight: 600;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin-right: 4%;
}

.doc{
    position: relative;
    float: right;
    align-items: center;
    width: 29%;
    height: max-content;
    display: flex;
    align-items: center;
    background-color: #dca54d;
    margin-bottom: 3%;
    padding: 1% 2%;
}

.info{
    margin-left:  2%!important;
}

.doc h2{
    font-size: 0.8em;
    font-weight: 600;
}

.doc a{
    margin-bottom: 7%;
}

.doc_ico{
    margin-top: 1%;
    margin-right: 4%;
    height: 22%;
    width: 13%;
}

.doc .download{
    position: absolute;
    right: 5%;
    height: 30%;
}
