main{
    font-family: 'Akrobat';
    color: #fff;
    margin: 0% 4% 0 5%;
    display: flex;
}

main h1{
    font-size: 1.75em;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}

.left{
    max-width: 70%;
}

main p{
    font-size: 0.8em;
    font-weight: 600;
}

.imgs{
    display: flex;
}

.imgs img{
    margin-right: 2%;
}

.right{
    margin-left: 5%;
}

.right h1{
    float: right;
    margin-left: 0;
}

.doc{
    position: relative;
    float: right;
    align-items: center;
    width: 100%;
    display: flex;
    background-color: #dca54d;
    margin-bottom: 3%;
    padding-bottom: 2%;
    padding-left: 2%;
}

.info{
    margin-left:  2%!important;
}

.doc h2{
    font-size: 0.8em;
    font-weight: 600;
}

.doc img{
    margin-left: 2%;
    max-width: 15%;
}

.doc_ico{
    margin-top: 1%;
    margin-right: 4%;
    height: 22%;
    width: 13%;
}

.doc .download{
    position: absolute;
    right: 5%;
    height: 30%;
}
