main{
    font-family: 'Akrobat';
    color: #fff;
    margin: 0% 4% 0 5%;
}

main h1{
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0%;
    line-height: 70%;
}

main h2{
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 2%;
    line-height: 70%;
}

.play_lists{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5%;
    min-width: 18%;
}

.play_lists img{
    width: 100%;
    max-width: 400px;
    margin-bottom: 50px;
}

.musics{
    display: flex;
    flex-direction: column;
}

.songs{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.song{
    position: relative;
    background-color: #dca54d;
    height: 100%;
    margin-bottom: 2%;
    max-width: 1310px;
    width: 100%;
}

.song h4{
    position: absolute;
    z-index: 10;
    top: -10px;
    left: 10%;
}

.song h5{
    position: absolute;
    z-index: 10;
    bottom: -15px;
    left: 10%;
}

audio{
    margin-top: 20px;
    max-width: 1310px;
    width: 100%;
}

audio::-webkit-media-controls-panel{
    background-color: rgba(220, 165, 77, 1);
}
