{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/clubs.css') }}">
{% endblock %}

{% block title %}
КЛУБЫ ВЕТЕРАНОВ РОССИИ
{% endblock %}

{% block main %}
<h1>КЛУБЫ ветеранов РОССИИ</h1>
<div class="columns">  
    <div class="column">
        <div class="conteiner">
            <img src="/static/images/tour_logo.png" alt="logo">
            <div class="info">
                <h1>Клуб ветеранов ссо "медик"</h1>
                <p>АГМУ, Алтайский край</p>
                <p>ПРЕЗИДЕНТ КЛУБА</p>
                <h1>шахматов игорь ильич</h1>
            </div>
        </div>
        <div class="conteiner">
            <img src="/static/images/tour_logo.png" alt="logo">
            <div class="info">
                <h1>Клуб ветеранов "политехник"</h1>
                <p>АлтГТУ, Алтайский край</p>
                <p>ПРЕЗИДЕНТ КЛУБА</p>
                <h1>акимочкин олег федорович</h1>
            </div>
        </div>
        <div class="conteiner">
            <img src="/static/images/tour_logo.png" alt="logo">
            <div class="info">
                <h1>Клуб ветеранов "колос"</h1>
                <p>АГАУ, Алтайский край</p>
                <p>ПРЕЗИДЕНТ КЛУБА</p>
                <h1>якунин евгений владимирович</h1>
            </div>
        </div>
        <div class="conteiner">
            <img src="/static/images/tour_logo.png" alt="logo">
            <div class="info">
                <h1>Клуб ветеранов ссо "медик"</h1>
                <p>АГМУ, Алтайский край</p>
                <p>ПРЕЗИДЕНТ КЛУБА</p>
                <h1>шахматов игорь ильич</h1>
            </div>
        </div>
        <div class="conteiner">
            <img src="/static/images/tour_logo.png" alt="logo">
            <div class="info">
                <h1>Клуб ветеранов "политехник"</h1>
                <p>АлтГТУ, Алтайский край</p>
                <p>ПРЕЗИДЕНТ КЛУБА</p>
                <h1>акимочкин олег федорович</h1>
            </div>
        </div>
        <div class="conteiner">
            <img src="/static/images/tour_logo.png" alt="logo">
            <div class="info">
                <h1>Клуб ветеранов "политехник"</h1>
                <p>АлтГТУ, Алтайский край</p>
                <p>ПРЕЗИДЕНТ КЛУБА</p>
                <h1>акимочкин олег федорович</h1>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="conteiner">
            <img src="/static/images/tour_logo.png" alt="logo">
            <div class="info">
                <h1>Клуб ветеранов ссо "медик"</h1>
                <p>АГМУ, Алтайский край</p>
                <p>ПРЕЗИДЕНТ КЛУБА</p>
                <h1>шахматов игорь ильич</h1>
            </div>
        </div>
        <div class="conteiner">
            <img src="/static/images/tour_logo.png" alt="logo">
            <div class="info">
                <h1>Клуб ветеранов "политехник"</h1>
                <p>АлтГТУ, Алтайский край</p>
                <p>ПРЕЗИДЕНТ КЛУБА</p>
                <h1>акимочкин олег федорович</h1>
            </div>
        </div>
        <div class="conteiner">
            <img src="/static/images/tour_logo.png" alt="logo">
            <div class="info">
                <h1>Клуб ветеранов "колос"</h1>
                <p>АГАУ, Алтайский край</p>
                <p>ПРЕЗИДЕНТ КЛУБА</p>
                <h1>якунин евгений владимирович</h1>
            </div>
        </div>
        <div class="conteiner">
            <img src="/static/images/tour_logo.png" alt="logo">
            <div class="info">
                <h1>Клуб ветеранов ссо "медик"</h1>
                <p>АГМУ, Алтайский край</p>
                <p>ПРЕЗИДЕНТ КЛУБА</p>
                <h1>шахматов игорь ильич</h1>
            </div>
        </div>
        <div class="conteiner">
            <img src="/static/images/tour_logo.png" alt="logo">
            <div class="info">
                <h1>Клуб ветеранов "политехник"</h1>
                <p>АлтГТУ, Алтайский край</p>
                <p>ПРЕЗИДЕНТ КЛУБА</p>
                <h1>акимочкин олег федорович</h1>
            </div>
        </div>
        <div class="conteiner">
            <img src="/static/images/tour_logo.png" alt="logo">
            <div class="info">
                <h1>Клуб ветеранов "политехник"</h1>
                <p>АлтГТУ, Алтайский край</p>
                <p>ПРЕЗИДЕНТ КЛУБА</p>
                <h1>акимочкин олег федорович</h1>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="conteiner">
            <img src="/static/images/tour_logo.png" alt="logo">
            <div class="info">
                <h1>Клуб ветеранов ссо "медик"</h1>
                <p>АГМУ, Алтайский край</p>
                <p>ПРЕЗИДЕНТ КЛУБА</p>
                <h1>шахматов игорь ильич</h1>
            </div>
        </div>
        <div class="conteiner">
            <img src="/static/images/tour_logo.png" alt="logo">
            <div class="info">
                <h1>Клуб ветеранов "политехник"</h1>
                <p>АлтГТУ, Алтайский край</p>
                <p>ПРЕЗИДЕНТ КЛУБА</p>
                <h1>акимочкин олег федорович</h1>
            </div>
        </div>
        <div class="conteiner">
            <img src="/static/images/tour_logo.png" alt="logo">
            <div class="info">
                <h1>Клуб ветеранов "колос"</h1>
                <p>АГАУ, Алтайский край</p>
                <p>ПРЕЗИДЕНТ КЛУБА</p>
                <h1>якунин евгений владимирович</h1>
            </div>
        </div>
        <div class="conteiner">
            <img src="/static/images/tour_logo.png" alt="logo">
            <div class="info">
                <h1>Клуб ветеранов ссо "медик"</h1>
                <p>АГМУ, Алтайский край</p>
                <p>ПРЕЗИДЕНТ КЛУБА</p>
                <h1>шахматов игорь ильич</h1>
            </div>
        </div>
        <div class="conteiner">
            <img src="/static/images/tour_logo.png" alt="logo">
            <div class="info">
                <h1>Клуб ветеранов "политехник"</h1>
                <p>АлтГТУ, Алтайский край</p>
                <p>ПРЕЗИДЕНТ КЛУБА</p>
                <h1>акимочкин олег федорович</h1>
            </div>
        </div>
        <div class="conteiner">
            <img src="/static/images/tour_logo.png" alt="logo">
            <div class="info">
                <h1>Клуб ветеранов "политехник"</h1>
                <p>АлтГТУ, Алтайский край</p>
                <p>ПРЕЗИДЕНТ КЛУБА</p>
                <h1>акимочкин олег федорович</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}
