{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/gallery.css') }}">
{% endblock %}

{% block title %}
КЛУБЫ ВЕТЕРАНОВ РОССИИ
{% endblock %}

{% block main %}
    <h1>фотогалерея</h1>
    {% for i in range(4) %}
        <div class="albums">
            {% for i in range(4) %}
                <a href="/photos">
                    <div class="column">
                        <img src="/static/images/blank.png" alt="">
                        <h1>День рсо</h1>
                        <p>17 февраля</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
