{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/about.css') }}">
{% endblock %}

{% block title %}
О нас
{% endblock %}

{% block main %}
<h1>Движение ветеранов студенческих отрядов россии</h1>
<p>В Алтайском крае заметно усилилась работа совета ветеранов студотрядовского движения. Неугасаемая энергия и 
    энтузиазм сподвигли их на создание отряда «Старая гвардия» в 2016 году. В его состав вошли 25 представителей 
    разных поколений стройотрядовцев XX и XXI вв. Данный проект – это еще одна возможность провести параллель между 
    прошлым и будущим, возможность молодым бойцам познакомиться с историей движения и на деле перенять опыт у старших. 
    В период третьего трудового семестра 2016 и 2017 годов СОВ «Старая Гвардия» работал в пос. Новый Калманского района, 
    где возводили полноценную концертную площадку со сценой и зрительным залом для фестиваля студотрядовской песни «Встреча 
    поколений».
</p>
<p>В мае 2018 года по инициативе ветерана СО «Алтай» Шатова Сергея Николаевича в мае было предложено создать сквер семьи
     в Парке спорта, где могли бы в свободное время бойцы и ветераны студенческих отрядов гулять со своими семьями. Данную
      инициативу поддержали руководители Парка спорта в лице: Артема Сингача и Алексея Трофимова, а также командный состав
       СОВ «Старая Гвардия» в лице: Василия Куца, Игоря Шахматова, Александра Епейкина.
</p>
<div class="photos">
    <img src="static/images/blank.png" alt="">
    <img src="static/images/blank.png" alt="">
    <img src="static/images/blank.png" alt="">
    <img src="static/images/blank.png" alt="">
</div>
<p>В Алтайском крае заметно усилилась работа совета ветеранов студотрядовского движения. Неугасаемая энергия и энтузиазм
     сподвигли их на создание отряда «Старая гвардия» в 2016 году. В его состав вошли 25 представителей разных поколений
      стройотрядовцев XX и XXI вв. Данный проект – это еще одна возможность провести параллель между прошлым и будущим, 
      возможность молодым бойцам познакомиться с историей движения и на деле перенять опыт у старших. В период третьего 
      трудового семестра 2016 и 2017 годов СОВ «Старая Гвардия» работал в пос. Новый Калманского района, где возводили 
      полноценную концертную площадку со сценой и зрительным залом для фестиваля студотрядовской песни «Встреча поколений».
</p>
<p>В мае 2018 года по инициативе ветерана СО «Алтай» Шатова Сергея Николаевича в мае было предложено создать сквер семьи в
     Парке спорта, где могли бы в свободное время бойцы и ветераны студенческих отрядов гулять со своими семьями. Данную
      инициативу поддержали руководители Парка спорта в лице: Артема Сингача и Алексея Трофимова, а также командный состав
       СОВ «Старая Гвардия» в лице: Василия Куца, Игоря Шахматова, Александра Епейкина.
</p>
{% endblock %}
