{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/about.css') }}">
{% endblock %}

{% block title %}
О нас
{% endblock %}

{% block main %}
<h1>Движение ветеранов студенческих отрядов россии</h1>
<p>
    Ветераны студенческих отрядов России – выпускники высших и средних специальных учебных заведений, в прошлом – организаторы и 
    многолетние участники студенческих отрядов. Всего за годы существования движения студенческих отрядов, начиная с 1965 года, 
    в их работе приняло участие свыше 19 миллионов юношей и девушек. 
</p>
<p>
    Из истории: на пике развития движения его численность превышала 830 тысяч человек, при этом потребность в дополнительной рабочей 
    силе в форме студенческих отрядов превышала 2 миллиона человек в год. Студенты трудились во всех сферах народного хозяйства, на 
    территории всех областей, краев и республик Советского Союза. За это время были выработаны четкие правила организации и деятельности 
    студенческих отрядов, нормативы, правила техники безопасности. 
</p>
<p>
    В дальнейшем государство перешло на плановое формирование студенческих отрядов: были законодательно закреплены льготы и преимущества 
    для участников движения, выработан весь механизм работы движения, начиная с отряда и заканчивая Центральным штабом.
</p>
<p>
    В настоящее время в регионах Российской Федерации формируются Клубы, Советы и отряды ветеранов студенческих отрядов как на уровне 
    учебных заведений, так и на уровне региона в целом. Ветеран студенческого отряда сегодня – это человек, который содействует 
    патриотическому воспитанию действующих бойцов и сохранению традиций движения студенческих отрядов, установлению преемственности 
    поколений, а также укреплению материально-технической и правовой базы студенческих отрядов. 
</p>
<div class="photos">
    <img src="static/images/1.jpg" alt="">
    <img src="static/images/2.jpg" alt="">
    <img src="static/images/3.jpg" alt="">
    <img src="static/images/4.jpg" alt="">
</div>
<p>
    Сайт ветеранов студенческих отрядов России – это информационная площадка, инициатором создания которой выступили ветераны краевого 
    студенческого отряда «Алтай». В рамках работы сайта пользователь может:
</p>
<ul>
    <li>прослушать и скачать популярные музыкальные композиции студенческих отрядов, а также предложить к размещению новые песни;</li>
    <li>узнать информацию о действующих Клубах, Советах и отрядах ветеранов и подать заявку на размещение новой информации о них;</li>
    <li>увидеть себя на архивных фотографиях и разместить свои фотоальбомы и видеоролики;</li>
    <li>разместить новости о прошедших мероприятиях с участием ветеранов студенческих отрядов, а также анонсы предстоящих событий.</li>
</ul>
{% endblock %}
