{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/contacts.css') }}">
{% endblock %}

{% block title %}
КЛУБЫ ВЕТЕРАНОВ РОССИИ
{% endblock %}

{% block main %}
<div class="container">
    {% for i in contacts %}
        <div class="contact">
            <img src="/static/storage/contact_photo/{{ i.name }}.jpg" alt="contact">
            <div class="info">
                <h1>{{ i.name }}</h1>
                <h2>{{ i.role }}</h2>
                <a href="mailto:{{ i.email }}"><h3>{{ i.email }}</h3></a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
