{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/documents.css') }}">
{% endblock %}

{% block title %}
ДОКУМЕНТАЦИЯ
{% endblock %}

{% block main %}
    <div class="container">
        {% for i in docs %}
            <div class="doc">
                <img src="/static/images/file.png" alt="file" class="doc_ico">
                <div class="info">
                    <h2>{{ i.title }}</h2>
                    <h2>{{ size[i.title] }}</h2>
                </div>
                <a href="/static/storage/files/{{ i.title }}.pdf" download="">
                    <img src="/static/images/download.png" alt="download" class="download">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
