{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/first_slet.css') }}">
{% endblock %}

{% block title %}
1-й Слет ветеранов ВССО - РСО
{% endblock %}

{% block main %}
<div class="left">
    <h1>1-й Слет ветеранов ВССО - РСО</h1>
    <p>Разнообразный и богатый опыт постоянное информационно-техническое обеспечение нашей деятельности способствует
         подготовке и реализации ключевых компонентов планируемого обновления! Не следует, однако, забывать о том, что
        начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки новых
        предложений? Соображения высшего порядка, а также начало повседневной работы по формированию позиции требует
        от нас системного анализа дальнейших направлений развития проекта. Практический опыт показывает, что рамки
        и место обучения кадров позволяет оценить значение системы обучения кадров, соответствующей насущным
        потребностям. Дорогие друзья, постоянный количественный рост и сфера нашей активности представляет собой
        интересный эксперимент проверки дальнейших направлений развитая системы массового участия! Значимость этих
        проблем настолько очевидна, что сложившаяся структура организации обеспечивает широкому кругу специалистов
        участие в формировании экономической целесообразности принимаемых решений. Значимость этих проблем настолько
        очевидна, что сложившаяся структура организации влечет за собой процесс внедрения и модернизации дальнейших
        направлений развития проекта! Таким образом, повышение уровня гражданского сознания обеспечивает широкому
        кругу специалистов участие в формировании направлений прогрессивного развития. Значимость этих проблем
        настолько очевидна, что выбранный нами инновационный путь напрямую зависит от новых предложений? Практический
        опыт показывает, что консультация с профессионалами из IT требует определения и уточнения существующих финансовых
        и административных условий!
    </p>
    <p>Таким...</p>
    <div class="imgs">
        <img src="static/images/blank.png" alt="">
        <img src="static/images/blank.png" alt="">
    </div>
</div>
<div class="right">
    <h1>положение о слёте</h1>
    <div class="doc">
        <img src="/static/images/file.png" alt="file" class="doc_ico">
        <div class="info">
            <h2>Положение о 1-й Слет ветеранов ВССО - РСО</h2>
            <h2>4 кб</h2>
        </div>
        <img src="/static/images/download.png" alt="download" class="download">
    </div>
    <h1>Заполнить заявку</h1>
    <div class="doc">
        <img src="/static/images/file.png" alt="file" class="doc_ico">
        <div class="info">
            <h2>Заявка на участие</h2>
            <h2>4 кб</h2>
        </div>
        <img src="/static/images/download.png" alt="download" class="download">
    </div>
    <h1>Заполнить заявку</h1>
    <div class="doc">
        <img src="/static/images/file.png" alt="file" class="doc_ico">
        <div class="info">
            <h2>Заявка на участие</h2>
            <h2>4 кб</h2>
        </div>
        <img src="/static/images/download.png" alt="download" class="download">
    </div>
    <h1>Заполнить заявку</h1>
    <div class="doc">
        <img src="/static/images/file.png" alt="file" class="doc_ico">
        <div class="info">
            <h2>Заявка на участие</h2>
            <h2>4 кб</h2>
        </div>
        <img src="/static/images/download.png" alt="download" class="download">
    </div>
</div>
{% endblock %}
