{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/gallery.css') }}">
{% endblock %}

{% block title %}
КЛУБЫ ВЕТЕРАНОВ РОССИИ
{% endblock %}

{% block main %}
    <h1>галерея</h1>
    {% for i in albums %}
        <div class="albums">
            <div class="column">
                <a href="/gallery/{{ i.id }}"><img src="static/storage/albums/{{ i.title }}/{{ i.title }}.jpg" alt="album"></a>
                <h3>{{ i.title }}</h3>
            </div>
        </div>
    {% endfor %}
{% endblock %}
