{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/music.css') }}">
{% endblock %}

{% block title %}
КЛУБЫ ВЕТЕРАНОВ РОССИИ
{% endblock %}

{% block main %}
<h1>песни со РОССИИ</h1>
<!--<h2>плейлисты</h2>-->
<div class="musics">
    <div class="play_lists">
        <a href="#"><img src="/static/images/Баннер_1_верхний.png" alt="play_list1"></a>
        <a href="#"><img src="/static/images/Баннер_2_средний.png" alt="play_list2"></a>
        <a href="#"><img src="/static/images/Баннер_3_нижний.png" alt="play_list3"></a>
    </div>
    <div class="songs">
        {% for i in songs %}
            <div class="song">  
                <h4>{{ i.title }}</h4> 
                <audio src="/static/storage/songs/{{i.title}}.mp3" controls="">
                </audio>
                <h5>{{ i.squad }}</h5>
            </div> 
        {% endfor %}
    </div>
</div>
{% endblock %}
