{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/music.css') }}">
{% endblock %}

{% block title %}
КЛУБЫ ВЕТЕРАНОВ РОССИИ
{% endblock %}

{% block main %}
<h1>песни со РОССИИ</h1>
<h2>плейлисты</h2>
<div class="musics">
    <div class="play_lists">
        <a href="#"><img src="/static/images/play_list1.png" alt="play_list1"></a>
        <a href="#"><img src="/static/images/play_list2.png" alt="play_list2"></a>
        <a href="#"><img src="/static/images/play_list3.png" alt="play_list3"></a>
    </div>
    <div class="songs">
        {% for i in songs %}
            <audio src="/static/storage/songs/{{i.title}}.mp3" controls>
                <h1>{{ i.title }}</h1>
            </audio>
        {% endfor %}
    </div>
</div>
{% endblock %}
