{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/news.css') }}">
{% endblock %}

{% block title %}
КЛУБЫ ВЕТЕРАНОВ РОССИИ
{% endblock %}

{% block main %}
    <div class="post">
        <img src="/static/images/students.png" alt="students">
        <div class="info">
            <h1>В Крыму прошел фестиваль вожатых студенческих отрядов ЮФО</h1>
            <p>В Республике Крым с 22 по 24 октября прошёл фестиваль вожатского мастерства студенческих
                 отрядов Южного федерального округа</p>
            <h4>20.10</h4>
        </div>
    </div>
    <div class="post">
        <img src="/static/images/kanat.png" alt="students">
        <div class="info">
            <h1>Студенческие отряды Воронежской области провели спартакиаду</h1>
            <p>В октябре 2021 года на территории спортивных комплексов ФГБОУ ВО «Воронежский государственный технический 
                университет» состоялась спартакиада студенческих отрядов Воронежской области, где бойцы на протяжении недели 
                состязались между</p>
            <h4>20.10</h4>
        </div>
    </div>
    <div class="post">
        <img src="/static/images/students.png" alt="students">
        <div class="info">
            <h1>Состоялась отчетно-выборная конференция Челябинского регионального отделения МООО «РСО»</h1>
            <p>На официальном мероприятии Челябинского областного студенческого отряда были подведены итоги работы за три 
                года. Руководителем регионального отделения </p>
            <h4>20.10</h4>
        </div>
    </div>
{% endblock %}
